# dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.production

# uploads folder
/uploads
/temp

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
